@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@import url(https://db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DIN+Next+Rounded+LT+W01+Regular);

@import "tailwindcss";

@theme{
    --color-duolingo-blue: #1cb0f6;
    --color-duolingo-blue-dark: #0F82C7;
    --color-duolingo-blue-light: #D0F0FF;

    --font-duolingo: Feather Bold;
}